.whole-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: white;
  }
  
  .whole-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 120%;
    background-color: #fff;
    margin-top: 300px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: #f2f2f2;

  }
  
  