.window {
margin-top: 10px;
width: 100%;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.whole-app {
    width: 100%;
    height: 100%;

}

.whole-window {
    color: ;
    width:80%;
    border: 5px solid black;
    background-color: white;

}
.whole-window , p {
    color: black;

}