body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1; /* This makes sure that the main container takes up all available space */
}

.main-footer {
    background: linear-gradient(15deg,#00008b, #04ada8);
    color: #fff;
    padding-top: 3em;
    padding-bottom: 50px;
    width: 100%;
    text-align:left;
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    position: relative; /* add relative positioning to the footer */
    bottom: 0; /* set bottom value to 0 */
    left: 0; /* set left value to 0 */
    right: 0; /* set right value to 0 */
}


.col {
    width: 25%;
    float: left;
}

.main-footer p {
    margin: 0.5em;
} 



.copyright {
    text-align: center;
    margin-top: 1em;
    }

/* hr {
    color: #fff;
    width: 100%;
    border-width: 1px;
    } */