body {
    margin-bottom: 30px;
  }

.main-footer {
    background: linear-gradient(15deg,#00008b, #04ada8);
    color: #fff;
    padding-top: 3em;
    padding-bottom: 60px;
    width: 100%;
    text-align:left;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}


.col {
    width: 25%;
    float: left;
}

.main-footer p {
    margin: 0.5em;
} 

.logo {
    width: 30%;
    }

.copyright {
    text-align: center;
    margin-top: 1em;
    }

/* hr {
    color: #fff;
    width: 100%;
    border-width: 1px;
    } */