form {
    height: 10rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem 2rem;

}

form, label {
    margin-top: 0.6rem;
}

form, input {
    margin-top: 0.5rem;
}