.event-page {
background-color: white;
height: 100%;
width: 100%;
text-align: center;
}
.event-box {
border: 2px solid black;
text-align: center;
height: 100%;
width: 100%;
}
.event-image{

}
.event-text {

}