.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* adjust as needed */
  }
  
  .save {
    background: linear-gradient(15deg,#04ada8, #00008b);
    border: none;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    border-radius: 25px;
    height: 50px;
    width: 170px;
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 0; /* position the button at the bottom of the container */
  }
  
