nav {
    background-color: #00008b;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}



.logo-container {    
    width: 200px;
    height: 200px;
    margin-right: 10rem;
    margin-left: auto;
}

.logo {
    
    width: 200px;
    height: 200px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

nav p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    border-radius: 25px;
    height: 50px;
    width: 100px;
    font-size: 16px;
    color: #00008b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: #e7cc57;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}